/*carrusel*/

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-image {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-controls button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-controls button:hover {
    background: rgba(0, 0, 0, 0.8);
}

.carousel {
    border-radius: 30px;
}


/*carrusel*/

body {
    background-color: #0A192F;
}

.navbar {
    background-color: #20B2AA;
}

.navbar-item,
.navbar-link {
    color: black;
}

.navbar-end {
    min-width: 250px;
}


/*color del hover*/

.navbar-item:hover {
    /* Cambiar color de fondo */
    color: #f8f2f2 !important;
    /* Cambiar color del texto */
}

.navbar-link:hover {
    color: white;
}


/*sombra de la div del logo*/

#logo_box {
    background-color: transparent;
}

#logo_box>img {
    border-radius: 50px;
}


/*quitar el fondo de div por defecto del titulo nuestros servicios*/

.box_mio {
    background-color: transparent;
}


/*marco de vision y mision*/

.marco {
    border: 3px solid rgb(245, 245, 245);
}


/*separar los dos div de mision y vision*/

#mision_vision,
div {
    margin-left: 20px;
}


/*formulario*/

.custom-form {
    width: 800px;
    /* Ancho del formulario */
    height: auto;
    /* Alto automático según el contenido */
    max-width: 100%;
    /* Asegura que no se pase en móviles */
    padding: 40px;
    /* Espaciado interno */
    border: 2px solid white;
}


/*espacio para que el formulario no tope con el pie de pagina*/

#form {
    padding-bottom: 25px;
}


/*pie de pagina trasparente*/

.footer {
    background-color: #20B2AA;
    border-radius: 25px;
    padding: 0px;
}


/*texto del foter*/

.footer_title {
    color: white;
}


/*quitarle el color negro de los link del footer*/

#footer_seccion a {
    background-color: transparent;
    border: 0;
}

#footer_seccion a:hover {
    background-color: #0A192F;
}

#Empresa {
    color: black;
<<<<<<< HEAD
}


/*Color del texto p*/

.p {
    color: #FFEFC8;
}


/*boton del hover de mas informacion*/

.informacion a:hover {
    background-color: #FCE7C8;
=======
>>>>>>> dce2bf5bb8d606d0530225af131deee989fbb600
}